*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    font-family: "Open Sans";
}
#section-1{
    background-image: url("./soft-landing header.jpg");
    background-repeat: no-repeat center center;
    background-size: cover;
    vertical-align: middle;
    height: 480px;
    width: 99%;
    margin: 2px auto;

}
#div-1{
    background: linear-gradient(to right,#292E49,#536976);
    opacity: 0.9;
    height: 480px;
    padding: 25px 110px;

}

#section-1 a{
    text-decoration: none;
    background-color:transparent ;
    color: #fff;
    margin: 20px;
}
#section-1 a:hover{
    color: #29ca8e;
}
#soft-landing{
    font-size: 25px;
    font-weight: 500;
}
#home{
    padding-left: 120px;
}
#hello{
    text-align: right;
    float: right;
}
.bottom-header{
    text-align: center;
    background-color:transparent ;
    color: #fff;
    padding-top: 200px;

}
#div-1 h1{
    padding-top: 3px;
    font-weight: 300;
    line-height: normal;
    font-size: 3em;
}
#div-1 form{
    border-color: #f0f0f0;
    border-radius: 50px;
    box-shadow: none;
    height: 40px;
    width: 310px;
    font-size: 14px;
    color: #555;
    background-color: #fff;
    background-image: none; 
    margin: 0 auto; 
    margin-top: 20px;
}
#div-1 button{
    background: #29ca8e;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    width: 134px;
    height: 40px;
    margin: 0px;
}
#div-1 button:hover{
    background: #333;

}
#div-1 input{
    border: none;
    margin-top: 6px;
    margin-left: 10px;
    text-align: center;
}
#section-2{
    display: flex;

}
#section-2 img{
    height: 500px;
    width: 600px;
    padding: 20px 80px;

}
#what-you-get{
    padding: 70px 130px;
}
#what-you-get h2{
    font-size: 2.5em ;
    font-weight: 100;
    line-height: normal;
    margin-bottom: 40px ;
}
#what-you-get h3{
    margin-top: 40px;
    font-size: 1.5em;
    font-weight: 50;
}
#what-you-get a{
    text-decoration: none;
    margin-right: 30px;
    color: black;
    font-size: 1.2em;
}
#what-you-get a:hover{
    border-bottom:3px solid #29ca8e;
}
#what-you-get p{
    margin-right: 100px;
}
#section-3{
    background-color:#f0f0f0;
    width: 100%;
    height: 900px;
    padding-top: 100px;
}
#team-card{
display: flex;
width: 90%;
background-color: #f0f0f0;
margin: 0 auto;
height: 700px;
float: right;
padding-top: 50px;
}
.team-members{
    width: 400px;
    height: 700px;
}
.team-members img{
    width: 400px;
    height: 420px;

}
.team-text{
    background-color: #fff;
    width: 400px;
    padding: 50px;
    line-height: 20px;
    height: 200px;
    margin-top: -10px;
}
.catherine{
    margin: 1px 0 -7px 0;

}
#section-3 h3{
    text-align: center;
    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 10;
}
h4{

    font-family: "Open Sans";
    font-size: 30px;
    font-weight: 10;
}
h5{
    font-family: "Open Sans";
    font-size: 20px;
    font-weight: 100;
    margin: 10px 0px;
}
#section-4{
    display: flex;
    width: 100%;
    padding: 120px 150px;
}
#test-img{
    width: 600px;
    height: 400px;

}
#test-card{
    width: 600px;
    background-color: black;
    padding: 60px;
    height: 400px;
}
#test-card p{
    font-size: 25px;
    font-family: "Open Sans";
    line-height:normal ;
    font-weight: 300;
    color: #d9d9d9;
    font-style: italic;
    margin-top: 20px;
}
#test-card h5{
    font-size: 40px;
    color: #d9d9d9;
    font-family: "Open Sans";
    font-weight: 100;
}
#bottom-test{
    display: flex;

}
#bottom-test img{
    border: 3px solid white;
    border-radius: 200px;
    margin-top: 35px;
    height: 60px;
}
#bottom-test p{
    font-style: normal;
    font-weight:10 ;
    font-size:20px ;
    margin: 60px 30px;
}
#section-5{
    background-color:#f0f0f0;
    padding: 50px 60px 0 70px;
    font-family: inherit;
}
#section-5 h5{
    text-align: center;
    font-size: 45px;
    font-weight: 100;
}
#section-5-div{
    display: flex;
    padding: 50px ;
    padding-left: 80px;
    margin: 0 auto;
}
.plan-options{
    background-color: #fff;
    height: 450px;
    border-right: 2px solid #f0f0f0;
    padding: 60px;
    color: #353535;
}
.plan-options h6{
    color: #353535;
    font-size: 2em;
    font-weight: 300;
    line-height: normal;
    padding-bottom: 20px;
}

.plan-options ul{
    list-style: none;
    line-height: 40px;
    border-top: 2px solid #f0f0f0;
    border-bottom: 2px solid #f0f0f0;
    font-size: 18px;
    font-weight: normal;
}
.register{
    display: flex;
    margin-top: 40px;
}
.register button{
    background: #29ca8e;
    border: 0;
    border-radius: 50px;
    color: #ffffff;
    font-size: 16px;
    font-weight: normal;
    padding: 12px 30px; 
    margin-left: 50px;   
}
.register button:hover{
    background: #333;
}
.register p{
    margin-top: 10px;
    font-size: 20px;
}
#hello-2{
    text-align: center;
    font-size: 40px;
    font-weight: lighter;
    margin-top: 30px;
       }
#footer-form{
    padding-left: 120px;
}       
#footer-form input{
    margin: 80px 30px;
    border: none;
    border-bottom: 1px solid #333 ;
    width: 250px;
    line-height: 35px;   
}
#footer-form button{
    margin: 80px 0 80px 420px;
    width: 180px;
    height: 35px;
    border: none;
    background-color: #333;
    border-radius: 25px;
    color: #fff;
}
#footer-form button:hover{
    background: #29ca8e;
}
#footer-form textarea{
    border: none;
    border-bottom: 1px solid #333 ;
    width: 1000px;
    margin: 0 30px;
}
#social{
    padding: 100px;
}
#social-1{
    float: right;  
}
#social-1 a{
    margin-right: 20px;
}
#social-1 a:hover{
    background-color: rgb(121, 119, 119);
    background-size: 100px;
}
#name{
    text-decoration: none;
    color: #333;
} 


